@font-face{
    font-family: 'z-icon';
    src: url('../bootstrap/fonts/fontawesome-webfont.ttf')  format('truetype');
}
.z-icon {
    font-family: "z-icon" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
    /*color: #FFFFFF;*/
}
.z-icon-plane1:before{content:"\f196";}
.z-icon-area1:before{content:"\f197";font-size: 19px;}
.z-icon-user1:before{content:"\f198";font-size: 19px;}
.z-icon-training1:before{content:"\f199"}
.z-icon-plan1:before{content:"\f19a";font-size: 19px;}
.z-icon-warning1:before{content:"\f19b"}
.z-icon-airport1:before{content:"\f19c"}
.z-icon-flight1:before{content:"\f19d"}
.z-icon-dictionary1:before{content:"\f19e"}
.z-icon-server1:before{content:"\f500"}
.z-icon-logout1:before{content:"\e000"}
.z-icon-home:before{content:"\2260"}
.z-icon-message:before{content:"\F0E0"}
.z-icon-search:before{content:"\f002";color: #145994;margin: 0px 2px;}

/*左侧菜单*/
.z-icon-setup:before{content:"\F013"}/*设置*/
.z-icon-more:before{content:"\F0C9"}/*二级菜单*/
.z-icon-dicmanage:before{content:"\221E"}/*字典管理*/
.z-icon-business:before{content:"\205F"}/*业务类管理*/
.z-icon-authority:before{content:"\F0E8"}/*人员权限管理*/
.z-icon-pagedemo:before{content:"\202F"}/*页面demo*/
.z-icon-systemmanage:before{content:"\200A"}/*系统管理*/

/*按钮*/
.z-icon-save:before{content:"\2009"}/*保存*/
.z-icon-edit:before{content:"\2008"}/*修改*/
.z-icon-copy:before{content:"\2007"}/*复制*/
.z-icon-paste:before{content:"\2006"}/*黏贴*/
.z-icon-add:before{content:"\2005"}/*增加*/
.z-icon-export:before{content:"\2004"}/*导出*/
.z-icon-import:before{content:"\2003"}/*导入*/
.z-icon-search:before{content:"\f002";color: #145994;margin: 0px 2px;}/*搜索*/
.z-icon-btnmore:before{content:"\2001";}/*更多*/
.z-icon-delete:before{content:"\2000";}/*删除/作废*/
.z-icon-fullscreen:before{content:"\02D9";}/*全屏*/
.z-icon-refresh:before{content:"\0163";}/*刷新*/
.z-icon-reset:before{content:"\00FD";}/*重置*/
.z-icon-btnsearch:before{content:"\00FC";}/*搜索*/
.z-icon-cancel:before{content:"\0171";}/*取消*/

.z-icon-file:before{content:"\00FA";}/*文件上传*/
.z-icon-preview:before{content:"\016F";}/*预览*/
.z-icon-examine:before{content:"\0159";}/*审核*/
.z-icon-return:before{content:"\00F6";}/*退审*/
.z-icon-enclosure:before{content:"\0151";}/*附件*/
.z-icon-history:before{content:"\00F4";}/*历史*/
.z-icon-close:before{content:"\00F3";}/*关闭*/
.z-icon-detail:before{content:"\0148";}/*详细*/


/*footer*/
.z-icon-phone:before{content:"\00C6";}/*phone*/

.z-icon-folder:before{content:"\0001";}/*文件夹*/
.z-icon-folderopen:before{content:"\0002";}
